<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'HackCWRU', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', sign_in_path %></li>
        <li><%= link_to 'Sign up', sign_up_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
